
# pyinstaller files
*.spec

# further file from here: https://gist.github.com/rask004/4c322384aa6012d6c5a7178071d3c8fb
.idea/

.vscode/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
.venv*/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Temporary files
~$*.docx

# Special file, which contains confidential information
core/no_github_module.py